.container {
    display: inline-block;
}

.instructions {
    font-size: 12;
    letter-spacing: 8px;
    font-family: monospace;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(38),
        cursor .4s step-end infinite alternate

}

@keyframes cursor {
    50% { border-color: transparent}
}

@keyframes typing {
    from { width: 0 }
}

