#header {
    padding-top: 21px;
    padding-bottom: 30px;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    background-color: rgba(221, 0, 0, 0);
}

#link {
    font-family: monospace;
    text-decoration: none;
    color: rgb(214, 214, 214);
    font-size: 20px;

}

#link:active {
    font-family: monospace;
    text-decoration: none;
    color: rgb(139, 65, 65);
}

